*, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", "Heiti SC", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
}
body {
  font-size: 13px;
  overflow:hidden;
}
.form-group {
  margin-bottom: 0px;
}
.vertical-center {
  display: flex;
  align-items: center;
}
.divider {
  padding-left: 15px;
  padding-right: 15px;
}
.divider hr {
  margin-bottom: 15.5px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: 1px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1px;
  background-color: #3d3d3d;
}
.center {
  text-align: center;
}
button .fa {
  cursor: pointer !important;
  width: 12px;
}
.res-btn {
  flex: 1;
  padding-left: 5px;
  padding-right: 5px;
}
.btn-grp {
  margin-left: 10px;
}
#resSetting {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.add-btn {
  width: 100%;
  margin: 8px 0px;
}
.del-btn {
  float: right;
  margin: -1px 0 0 0;
}
.navigator {
  display: flex;
}
.navigator-url {
  flex: 1;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
}
.navigator-url .form-group {
  flex: 1;
  margin-bottom: 0;
}
.navigator .navigator-url .navigator-status {
  padding-right: 28px;
}
.navigator .navigator-url .status-icon .fa {
  background-color: transparent;
  border: 0;
  padding: 0;
  height: auto;
  margin: auto;
  transition: none;
  width: auto;
}
.navigator .navigator-url .status-icon {
  width: 0;
  position: relative;
  left: -22px;
  padding: 0;
  background: transparent;
  margin: auto;
  border: 0;
}
.navigator-btn {
  width: 60px;
}
.navigator-btn button {
  width: 30px;
}
