*, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", "Heiti SC", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
}
body {
  font-size: 13px;
  overflow:hidden;
}
.form-group {
  margin-bottom: 0px;
}
.vertical-center {
  display: flex;
  align-items: center;
}
.divider {
  padding-left: 15px;
  padding-right: 15px;
}
.divider hr {
  margin-bottom: 15.5px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: 1px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1px;
  background-color: #3d3d3d;
}
#main-table tbody td {
 vertical-align: middle;
 line-height: 36px;
 height: 36px;
 padding: 1px 5px;
}
#ship-info-show .col-xs-3 {
  padding-right: 5px;
}
#item-info-settings .checkbox {
  margin-top: 1px;
  margin-bottom: 1px;
}
.item-table-name {
  padding-left: 10px;
}
.center {
  text-align: center;
}
button .fa {
  cursor: pointer !important;
  width: 12px;
}
