*, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", "Heiti SC", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
}
body {
  font-size: 13px;
  overflow:hidden;
}
.form-group {
  margin-bottom: 0px;
}
.vertical-center {
  display: flex;
  align-items: center;
}
.divider {
  padding-left: 15px;
  padding-right: 15px;
}
.divider hr {
  margin-bottom: 15.5px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: 1px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1px;
  background-color: #3d3d3d;
}
.center {
  text-align: center;
}
button .fa {
  cursor: pointer !important;
  width: 12px;
}
.res-btn {
  flex: 1;
  margin-left: 5px;
  margin-right: 5px;
}
.btn-grp {
  margin-left: 10px;
}
#resSetting {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
